<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row p-t-80">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Airport List</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboards</a></li>
                            <li class="breadcrumb-item active">Airport List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->


        <!-- strat card -->
        <div class="col-xl-12">
            <div class="card">

                <div class="loading" *ngIf="isLoading">
                    <div class="spinner">
                        <mat-spinner></mat-spinner>
                    </div>
                </div>

                <div class="card-body" [hidden]="isLoading" *ngIf="dataSource != undefined && !dataSource.data.length">

                    <div class="d-flex">
                        <div class="row card-title mb-0 flex-grow-1">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-end">
                                <button type="button" class="btn btn-bg-dark" routerLink="/airport"><i class="ri-add-circle-line align-middle me-1"></i> Add Airport</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive table-card">
                        <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                            <tr>
                                <td>
                                    <h5>No record found!</h5>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="card-body" [hidden]="isLoading && (dataSource != undefined && dataSource.data.length)">
                    <div class="d-flex">
                        <div class="row card-title mb-0 flex-grow-1">
                            <mat-form-field class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <mat-label>Filter</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="search..." #input>
                            </mat-form-field>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-end">
                                <button type="button" class="btn btn-bg-dark" routerLink="/airport"><i class="ri-add-circle-line align-middle me-1"></i> Add Airport</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive table-card">
                        <table mat-table [dataSource]="dataSource" matSort class="table table-borderless table-centered align-middle table-nowrap mb-0">

                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-muted table-light" scope="col"> Airport Id </th>
                                <td mat-cell *matCellDef="let row">
                                    <a class="fw-medium link-primary">#{{row.id}}</a> </td>
                            </ng-container>
                            <ng-container matColumnDef="airportTag">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-muted table-light" scope="col"> Airport Tag </th>
                                <td mat-cell *matCellDef="let row"> {{row.airportTag}} </td>
                            </ng-container>
                            <ng-container matColumnDef="airportName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-muted table-light" scope="col"> Airport Name </th>
                                <td mat-cell *matCellDef="let row"> {{row.airportName}} </td>
                            </ng-container>
                            <ng-container matColumnDef="state">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-muted table-light" scope="col"> State </th>
                                <td mat-cell *matCellDef="let row"> {{row.state}} </td>
                            </ng-container>
                            <ng-container matColumnDef="country">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-muted table-light" scope="col"> Country </th>
                                <td mat-cell *matCellDef="let row"> {{row.country}} </td>
                            </ng-container>
                            <ng-container matColumnDef="isActive">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-muted table-light" scope="col"> Status </th>
                                <td mat-cell *matCellDef="let row">
                                    <span class="badge badge-soft-success text-uppercase" *ngIf="row.isActive == true || row.isActive == null">Active</span>
                                    <span class="badge badge-soft-warning text-uppercase" *ngIf="row.isActive == false">In-Active</span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-muted table-light" scope="col"> Action </th>
                                <td mat-cell *matCellDef="let row">
                                    <ul class="list-inline hstack gap-2 mb-0 ">
                                        <li class="list-inline-item edit">
                                            <a [routerLink]="['/airport',row.id]" class="text-primary d-inline-block edit-item-btn ">
                                                <i class="ri-pencil-fill fs-16 "></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item " data-bs-toggle="tooltip " data-bs-trigger="hover " data-bs-placement="top " title=" " data-bs-original-title="Remove ">
                                            <a class="text-danger d-inline-block remove-item-btn " data-bs-toggle="modal " data-bs-target="#deleteRecordModal ">
                                                <i class="ri-delete-bin-5-fill fs-16 "></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </ng-container>



                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            <!-- Row shown when there is no matching  -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="7">No data matching the filter"{{input.value}}"</td>
                            </tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[10,25,50,100]"></mat-paginator>
                        <!-- </div> -->
                    </div>
                </div>
                <!-- .card-body -->
            </div>
            <!-- .card-->
        </div>
        <!-- .col-->
        <!-- end card-->
    </div>
    <!-- end container-fluid -->
</div>
<!-- end page-content -->


<!-- Modal -->
<div class="modal fade zoomIn " id="deleteRecordModal " tabindex="-1 " aria-hidden="true ">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content ">
            <div class="modal-header ">
                <button type="button " class="btn-close " data-bs-dismiss="modal " aria-label="Close " id="btn-close "></button>
            </div>
            <div class="modal-body ">
                <div class="mt-2 text-center ">
                    <!-- <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json " trigger="loop " colors="primary:#f7b84b,secondary:#f06548 " style="width:100px;height:100px "></lord-icon> -->
                    <mat-icon svgIcon="thumbs-up " inline="true "></mat-icon>
                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5 ">
                        <h4>Are you sure ?</h4>
                        <p class="text-muted mx-4 mb-0 ">Are you sure you want to remove this record ?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2 ">
                    <button type="button " class="btn w-sm btn-light " data-bs-dismiss="modal ">Close</button>
                    <button type="button " class="btn w-sm btn-danger " id="delete-record ">Yes, Delete It!</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end modal -->

<script src="assets/libs/feather-icons/feather.min.js "></script>

<!--ecommerce-customer init js -->
<script src="assets/js/pages/ecommerce-customer-list.init.js "></script>